$margin-top: 50px;
$lakers-c: #552583;
$bulls-c: #CE1141;
$jazz-c: #3E2680;
$cavs-c: #6F263D;


body {
    background-image: linear-gradient(to right, blue, white, red);
}

h1 
{
    color: blue;
    text-align: center;
}

table {
    margin: auto;
    border: 2px solid black;
    border-collapse: collapse;
    width: 75%;
    margin-bottom: $margin-top;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

th {
    background-color: lightgray;
}

.jumbohead {
    padding-top: 20px;
    padding-bottom: 50px;
}

#intro {
    text-align: center;
}

.jumbo-container {
    margin: $margin-top;
}

.lakers {
    background-image: linear-gradient(to right, #552583 45%, #FDB927)
}

.bulls {
    background-image: linear-gradient(to right, #CE1141 40%, black)
}

.jazz {
    background-image: linear-gradient(to right, #3E2680 40%, #6CAEDF)
}

.cavs {
    background-image: linear-gradient(to right, #6F263D 40%, #FFB81C)
}

.info {
    border: 2px solid black;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: white;
    font-size: 18px;
    margin-top: $margin-top;
    padding: 15px;

    li {
        color: blue;
    }
}

.photoframe {
    width: 400px;
    height: auto;
    margin-top: $margin-top;

}

img {
    width: 100%;
    height: auto;
    margin-bottom: $margin-top;
}

#mynav {
    background: black;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

#mynav a:link {
    color: white;
}

#mynav a:visited {
    color: white;
}

.info h1,small{
    color: grey;
    text-align: center;
}