$margin-top: 50px;
$lakers-c: #552583;
$bulls-c: #CE1141;
$jazz-c: #3E2680;
$cavs-c: #6F263D;


body {
    background-image: linear-gradient(to right, blue, white, red);
}

h1 
{
    color: blue;
    text-align: center;
}

table {
    margin: auto;
    border: 2px solid black;
    border-collapse: collapse;
    width: 75%;
    margin-bottom: $margin-top;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

th {
    background-color: lightgray;
}

.jumbohead {
    padding-top: 20px;
    padding-bottom: 50px;
}

#intro {
    text-align: center;
}

.jumbo-container {
    margin: $margin-top;
}

@media (min-width: 500px) {
    .lakers {
        background-image: linear-gradient(to right, $lakers-c 45%, #FDB927)
    }
}
@media (min-width: 500px) {
    .bulls {
        background-image: linear-gradient(to right, $bulls-c 45%, black)
    }
}

@media (min-width: 500px) {
    .cavs {
        background-image: linear-gradient(to right, $cavs-c 45%, #FFB81C)
    }
}

@media (min-width: 500px) {
    .jazz {
        background-image: linear-gradient(to right, $jazz-c 45%, #6CAEDF)
    }
}

@media (max-width: 499px) {
    .lakers {
        background-image: linear-gradient(to bottom, $lakers-c 45%, #FDB927)
    }
}

@media (max-width: 499px) {
    .bulls {
        background-image: linear-gradient(to bottom, $bulls-c 45%, black)
    }
}

@media (max-width: 499px) {
    .cavs {
        background-image: linear-gradient(to bottom, $cavs-c 45%, #FFB81C)
    }
}

@media (max-width: 499px) {
    .jazz {
        background-image: linear-gradient(to bottom, $jazz-c 45%, #6CAEDF)
    }
}



%info {
    border: 2px solid black;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: white;
    font-size: 18px;
    margin-top: $margin-top;
    padding: 15px;
}

.lakers-info {
    @extend %info;
    li {
        color: $lakers-c;
    }
}

.bulls-info {
    @extend %info;
    li {
        color: $bulls-c;
    }
}

.jazz-info {
    @extend %info;
    li {
        color: $jazz-c;
    }
}

.cavs-info {
    @extend %info;
    li {
        color: $cavs-c;
    }
}

.photoframe {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: $margin-top;

}

img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: $margin-top;
}

#mynav {
    background: black;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

#mynav a:link {
    color: white;
}

#mynav a:visited {
    color: white;
}

.info h1,small{
    color: grey;
    text-align: center;
}